table {
    table-layout: fixed;
}

table,
th,
tr,
td {
    border: 3px solid rgb(20, 111, 132);
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(27, 176, 176, 0.446);
}